@media screen and (max-width:460px){

    .container{
        width: 100vw;
    }

    .box{
        font-size: 2.6rem;
    }

    .tic-tac-toe{
        transform: translateY(-3rem);
    }

    .btn{
        transform: translateY(-5rem);
    }

}